<!DOCTYPE html>

<html lang="en">
  <body id="bg">
    <div class="page-wraper">
      <div class="overlay-black-middle">
        <div class="container">
          <div class="w3-bnr-inr-entry">  
            <h1 class="text-white" style="text-align: left; padding: 10px;"> <b>Register </b></h1>
          </div>
        </div>
      </div>
      <!----------Form content----->
      <div class="container register-form" style="display:block;" id="hideme">
        <form [formGroup]="formValue">
          <div class="form">
            <div class="note">
            </div>
            <div class="form-content">
              <div class="row">
                <div class="col-md-6">  
                  <div class="row">
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="First Name *" formControlName="first_name">
                      </div>
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Middle Name " formControlName="middle_name">
                      </div> 
                    </div>
                    <div class="col-md-4">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Last Name  *" formControlName="last_name">
                      </div>              
                    </div>
                  </div>
                    <br>                       
                      <div class="form-group">
                        <input type="number" class="form-control" placeholder="Phone Number(10 Digits only)*" formControlName="contact" pattern="[6789][0-9]{9}">    
                      </div>
                    <br>
                      <div class="form-group">
                        <input type="email" class="form-control" placeholder="Email *" formControlName="email">
                      </div>
                    <br>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Education Eg. BCA,MCA,MCS*" formControlName="education">
                      </div>
                    <br>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="College/Company *" formControlName="collage">
                      </div>
                    <br>
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Mother's Profession*" formControlName="mother_pro">
                    <br>
                        <input type="text" class="form-control" placeholder="Father's Profession*" formControlName="father_pro">
                      </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <input type="number" class="form-control" placeholder="Parent's Phone number*" pattern="[6789][0-9]{9}" formControlName="parents_phone">
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Current Address*" formControlName="curr_address">
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Permanent Address*" formControlName="per_address">
                    Note: We may send documents at this address, so please write this correctly with pincode.
                  </div>  
                  <br>
                  <div class="form-group">
                    <label class="control-label" for="batch" style="font-size:20px; padding: 10px;">Batch</label>
                    <div>
                      <select id="dropdown-split"  formControlName="batch" class="form-control bs-select-hidden" style="color:black;">
                        <option value="Angular Web Development">Angular Web Development</option>
                        <option value="Pre-Placement Activity">Pre-Placement Activity</option>
                        <option value="Logic Building with Industrial Project Development">Logic Building with Industrial Project Development</option>
                        <option value="Linux System Programming">Linux System Programming</option>
                      </select>
                    </div>
                  </div> 
                  <br>
                  <div class="form-group">
                    <input type="number" class="form-control" placeholder="Amount (Minimum 1000)*" min="1000" max="30000" formControlName="amount">
                  </div>
                  <br>
                  <div class="form-group">
                    <div class="radio">
                      <label class="control-label" for="batch" style="font-size:15px; padding-left: 17px;">Payment Mode</label>
                      <br>
                      <label style="color:black"><input type="radio" name="pay" value="1" checked="">Bank Transfer</label>
                      <div style="display:none">
                        <label style="color:black"><input type="radio" name="pay" value="0"> Paytm </label>
                      </div>
                    </div>
                    <br>
                    <p style="color:black;">Note: WhatsApp or Call Admin at 7020713938 for Bank Details. <b>Only pay FEES after calling and informing to admin!</b></p>
                  </div>
                  <div class="form-group" id="paytm">
                    <input type="text" name="paytm" class="form-control" id="payt" placeholder="Paytm Number You are using *" value="">
                    <p style="text-align:center; color:red;">For our paytm number contact Admin after registration.</p>
                  </div>
                </div>
              </div>
              <br>
                <div class="form-group" id="terms">
                  <input style="display: inline-block;" type="checkbox" name="checkbox" value="check" id="agree"> I have read and agree to the <a href="/terms.html">Terms and Conditions, Privacy Policy &amp; Disclaimer (click link to view)</a>
                </div>
              <br><br>
                <button style="display: block;
                  margin-left: auto;
                  margin-right: auto;
                  width:30%" *ngIf="showAdd" type="button" class="btn btn-info" (click)="insertData()">Submit
                </button>
                <p style="text-align:center; color:red;"> Note: Your Registration is not complete until you pay the amount.</p>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>